<div class="container-fluid">

  <div class="container-fluid">
    <h2>Angebote</h2><br>
   <div *ngFor="let listing of listingsArray">
     <div class="card m-3" style="width: 18rem;">
       <div class="card-body">
         <h5 class="card-title">Angebot</h5>
         <h6 class="card-subtitle mb-2 text-muted">{{listing}}</h6>
       </div>
     </div>
   </div>
  </div>



  <div class="container-fluid">
    <h2>Finde deinen Fahrer</h2><br>
    <form id="searchForm">
      <input #from placeholder="Von" type="text" class="form-control"><br>
      <input #to placeholder="Nach" type="text" class="form-control"><br>
      <input #time placeholder="zeit" type="text" class="form-control"><br>
      <input #seats placeholder="sitzplaetze" type="text" class="form-control"><br>
      <input #storage type="text" class="form-control" placeholder="frachtplatz"><br>


      <button type="submit" (click)="getAllListings()" class="btn btn-primary">Fahrer finden</button>
    </form>
  </div>

  <div class="container-fluid">
    <h2>Jetzt selbst eine Fahrt anbieten</h2><br>
    <form id="SelbstAnbietenForm">
      <input #fromA placeholder="VonAnbieter" type="text" class="form-control"><br>
      <input #toA placeholder="NachAnbieter" type="text" class="form-control"><br>
      <input #spacesA placeholder="sitzplaetzeAnbieter" type="text" class="form-control"><br>
      <input #storageA placeholder="frachtplatzAnbieter" type="text" class="form-control"><br>
      <input #coins placeholder="coinsAnbieter" type="text" class="form-control"><br>


      <button type="submit" (click)="offerRide('', 'TestUser', coins.valueAsNumber, spacesA.valueAsNumber, storageA.valueAsNumber, fromA.value, toA.value)" class="btn btn-primary">Fahrt anbieten</button>
      <! -- todo später dropdown button -->
    </form>
  </div>

</div>
