<div class="container-fluid">
  <div class="container-fluid">
    <h2>Finde deinen Fahrer</h2><br>
    <form id="searchForm">
      <input #from placeholder="Von" type="text" class="form-control"><br>
      <input #to placeholder="Nach" type="text" class="form-control"><br>
      <input #time placeholder="zeit" type="text" class="form-control"><br>
      <input #seats placeholder="sitzplaetze" type="text" class="form-control"><br>
      <input #storage type="text" class="form-control" placeholder="frachtplatz"><br>

      <button type="submit" (click)="searchRide('',  time.value,'TestUser', 50, seats.valueAsNumber, storage.valueAsNumber, from.value, to.value)" class="btn btn-primary">Fahrer finden</button>
    </form>
  </div>



</div>
