<div class="card-body mt-3 px-4 py-5 px-md-5">
  <div class="alert alert-success" role="alert" *ngIf="created">
    Erfolgreich eine Suche erstellt!
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="incomplete">
    Bitte alle Felder ausfüllen
  </div>
  <h2 class="card-title">Finde deinen Fahrer</h2><br>
  <form id="SelbstAnbietenForm">
    <input #from placeholder="Von" type="text" class="form-control"><br>
    <input #to placeholder="Nach" type="text" class="form-control"><br>
    <input #spaces placeholder="Anzahl benötigter Sitzplätze" type="number" class="form-control"><br>
    <input #storage placeholder="Benötigter Frachtraum (in Liter)" type="number" class="form-control"><br>
    <input #coins placeholder="Wunschkosten" type="number" class="form-control"><br>

    <form class="row row-cols-sm-auto">
      <div class="col-12">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
          <button class="btn calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </form>
    <br>
  <div class="button-group">
    <button type="submit" (click)="searchRide(coins.valueAsNumber, spaces.valueAsNumber, storage.valueAsNumber, from.value, to.value, dateToString())" class="btn btn-primary">Suche veröffentlichen</button>

    <button type="submit" (click)="filterExistingOnes()" class="btn btn-primary">Fahrer finden</button>
  </div>

  </form>
</div>
