<div class="container-fluid">
  <h2 class="text-center"><span class="badge alert-success align-content-center text-center">aktuelles Guthaben: {{coins}}<br><br>
    <input class="text-center" *ngIf="showCoinInput" [(ngModel)]="newCoins"><br><br>
    <button type="button" class="btn btn-primary mt-auto align-content-center text-center" *ngIf="!showCoinInput" (click)="toggleCoinInput()">Coins aufladen</button>
    <button type="button" class="btn btn-primary mt-auto align-content-center text-center" *ngIf="showCoinInput" (click)="addCoins()" >Kauf bestätigen</button></span></h2><br>
  <h2 class="text-center">Verfügbare Angebote:</h2><br>
  <div class="mb-5 mb-lg-0 position-relative card-group align-content-center">
    <div class="card-group">
      <div *ngFor="let item of listingsArray">
        <div class="card m-3">
          <div class="card-header">
            <h3 class="card-title">{{item.startort}} --> {{item.ziel}}</h3>
            <h5>Am {{datepipe.transform(item.zeit, 'dd/MM/yyyy')}}</h5>
          </div>
          <div class="card-body">
            <h5>Angebot von:<br> {{item.ersteller}}</h5>
            <h5>Frachtplatz: {{item.frachtplatz}} </h5>
            <h5>Freie Sitzplätze: {{item.sitzplaetze}} </h5>
            <h5 *ngIf="coins >= item.kosten">Kosten in CargoCoins: <span class="badge alert-success align-content-center text-center">{{item.kosten}}</span></h5>
            <h5 *ngIf="coins < item.kosten">Kosten in CargoCoins: <span class="badge alert-danger align-content-center text-center">{{item.kosten}}</span></h5>
            <br>
            <div class="text-center">
            <button type="submit" (click)="takeAngebot(item._id)" class="btn btn-primary" *ngIf="coins >= item.kosten">Angebot annehmen</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<br>


  <h2 class="text-center">Verfügbare Gesuche:</h2><br>

  <div class="mb-5 mb-lg-0 position-relative card-group align-content-center">
    <div class="card-group">
      <div *ngFor="let item of searchesArray">
        <div class="card m-3">
          <div class="card-header">
            <h3 class="card-title">{{item.startort}} --> {{item.ziel}}</h3>
            <h5>Am {{datepipe.transform(item.zeit, 'dd/MM/yyyy')}}</h5>
          </div>
          <div class="card-body">
            <h5>Suche von: <br> {{item.sucher}}</h5>
            <h5>Frachtplatz: {{item.frachtplatz}} </h5>
            <h5>Freie Sitzplätze: {{item.sitzplaetze}} </h5>
            <h5 *ngIf="coins >= item.kosten">Kosten in CargoCoins: <span class="badge alert-success align-content-center text-center">{{item.kosten}}</span></h5>
            <h5 *ngIf="coins < item.kosten">Kosten in CargoCoins: <span class="badge alert-danger align-content-center text-center">{{item.kosten}}</span></h5>
            <br>
            <div class="text-center">
            <button type="submit" class="btn btn-primary" *ngIf="coins >= item.kosten" (click)="takeRequest(item._id)">Als Fahrer melden</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
