<div class=" col-lg-6 col-sm-12 mb-5 mb-lg-0 position-relative">
  <div class="card bg-glass shadow">
    <div class="card-body mt-3 px-4 py-5 px-md-5">

        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <input type="text" id="email" [disabled]="0===0" [(ngModel)]="email"  class="textInputs form-control">
              <label class="form-label textInputs" for="email">Email</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <input type="password" id="password" [(ngModel)]="password"  class="textInputs form-control">
              <label class="form-label textInputs" for="password">Passwort</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <input type="text" id="firstname" [(ngModel)]="firstname"  class="textInputs form-control">
              <label class="form-label textInputs" for="firstname">Vorname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <input type="text" id="lastname" [(ngModel)]="lastname"  class="textInputs form-control">
              <label class="form-label textInputs" for="lastname">Nachname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" mb-3">
            <div class="form-outline">
              <input id="description" [(ngModel)]="description"  class="textInputs form-control">
              <label class="form-label textInputs" for="description">Beschreibung</label>
            </div>
          </div>
        </div>
        <br>

        <!-- Submit button -->
        <button type="submit" class="btn text-white shadow orange btn-block mt-2 mb-2"
           (click)="updateUser()">
          Speichern
        </button>

    </div>
  </div>
</div>


<table>

  <tbody>
  <!--<tr *ngFor="let admin of adminArray; let i = index;">-->
  <ng-container *ngFor="let vehicle of vehicleArray; let i = index;">
    <tr>
      <td>
        <div class=" col-lg-6 col-sm-12 mb-5 mb-lg-0 position-relative">
          <div class="card bg-glass shadow">
            <div class="card-body mt-3 px-4 py-5 px-md-5">

              <div class="row">
                <div class="mb-2">
                  <div class="form-outline">
                    <h3>ID:</h3>
                    <p>{{vehicleArray[i][0]}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-2">
                  <div class="form-outline">
                    <h3>Modell:</h3>
                    <p>{{vehicleArray[i][1]}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-2">
                  <div class="form-outline">
                    <h3>Stauraum (in Litern):</h3>
                    <p>{{vehicleArray[i][2]}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class=" mb-3">
                  <div class="form-outline">
                    <h3>Sitzplätze (ohne Fahrer):</h3>
                    <p>{{vehicleArray[i][3]}}</p>
                  </div>
                </div>
              </div>
              <br>

              <!-- Submit button -->
              <button type="submit" class="btn text-white shadow orange btn-block mt-2 mb-2"
                      (click)="deleteVehicle(vehicleArray[i][0])">
                Fahrzeug entfernen
              </button>

            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

<div class=" col-lg-6 col-sm-12 mb-5 mb-lg-0 position-relative">
  <div class="card bg-glass shadow">
    <div class="card-body mt-3 px-4 py-5 px-md-5">

      <div class="row">
        <div class="mb-2">
          <div class="form-outline">
            <h3>Modell:</h3>
            <input type="text" [(ngModel)]="model"  class="textInputs form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-2">
          <div class="form-outline">
            <h3>Stauraum (in Litern):</h3>
            <input type="text" [(ngModel)]="space"  class="textInputs form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-2">
          <div class="form-outline">
            <h3>Sitzplätze (ohne Fahrer):</h3>
            <input type="text" [(ngModel)]="seats"  class="textInputs form-control">
          </div>
        </div>
      </div>
      <br>

      <!-- Submit button -->
      <button type="submit" class="btn text-white shadow orange btn-block mt-2 mb-2"
              (click)="addVehicle()">
        Speichern
      </button>

    </div>
  </div>
</div>
