<div class="container-fluid">
  <div class="container-fluid">
  <div class="alert alert-success" role="alert" *ngIf="created">
    Erfolgreich ein Angebot erstellt!
  </div>
    <div class="text-center">
  <h2>Jetzt selbst eine Fahrt anbieten:</h2><br>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="incomplete">
      Bitte alle Felder ausfüllen
    </div>
  <form id="SelbstAnbietenForm">
    <input #from placeholder="Von" type="text" class="form-control"><br>
    <input #to placeholder="Nach" type="text" class="form-control"><br>
    <input #spaces placeholder="Anzahl freier Sitzplätze" type="number" class="form-control"><br>
    <input #storage placeholder="Frachtraum (in Liter)" type="number" class="form-control"><br>
    <input #vehicle placeholder="Fahrzeug" type="text" class="form-control"><br>
    <input #coins placeholder="Kosten" type="number" class="form-control"><br>
    <input #commentar placeholder="Commentar" type="text" class="form-control"><br>

    <form class="row row-cols-sm-auto">
      <div class="col-12">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
          <button class="btn bi bi-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </form>
    <br>
 <div class="text-center">
    <button type="submit"
            (click)="offerRide(coins.valueAsNumber, spaces.valueAsNumber, storage.valueAsNumber, from.value, to.value, dateToString(), commentar.value)"
            class="btn align-content-center text-center mt-4 mb-4">Fahrt anbieten
    </button>
 </div>
  </form>
</div>
</div>
