<div class="mb-5 mb-lg-0 position-relative card-group">
  <div class="card bg-glass">
    <div class="card-body mt-3 px-4 py-5 px-md-5">
      <div class="text-center">
      <h4 class="card-title">Deine CargoCoins:<br> {{coins}}</h4>
      <br>
      <h4 class="card-title">Profil bearbeiten:</h4><br>
      </div>
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <input type="text" id="email" [disabled]="0===0" [(ngModel)]="email"  class="textInputs form-control">
              <label class="form-label textInputs" for="email">Email</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <input type="password" id="password" [(ngModel)]="password"  class="textInputs form-control">
              <label class="form-label textInputs" for="password">Passwort</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <input type="text" id="firstname" [(ngModel)]="firstname"  class="textInputs form-control">
              <label class="form-label textInputs" for="firstname">Vorname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <input type="text" id="lastname" [(ngModel)]="lastname"  class="textInputs form-control">
              <label class="form-label textInputs" for="lastname">Nachname</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" mb-3">
            <div class="form-outline">
              <input id="description" [(ngModel)]="description"  class="textInputs form-control">
              <label class="form-label textInputs" for="description">Beschreibung</label>
            </div>
          </div>
        </div>
        <br>
        <!-- Submit button -->
      <div class="text-center">
        <button type="submit" class="btn align-content-center text-center mt-4 mb-4" (click)="updateUser()">Speichern</button>
      </div>
    </div>
  </div>
  <div class="card bg-glass">
    <div class="card-body mt-3 px-4 py-5 px-md-5">
      <h4 class="card-title">Durchschnittliche Bewertung aus {{stars.length}} Bewertung(en):</h4>
      <br>
      <div class="progress">
        <div #starsavg class="progress-bar" role="progressbar" bind-style.width.%="avgStars * 20" [attr.aria-valuenow]="avgStars" aria-valuemin="0" aria-valuemax="5">{{avgStars}} von 5</div>
      </div>

      <br>
      <br>

      <h4 class="card-title">Neues Fahrzeug anlegen</h4>
      <br>

      <div class="row">
        <div class="mb-2">
          <div class="form-outline">
            <h5>Modell:</h5>
            <input type="text" [(ngModel)]="model"  class="textInputs form-control">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="mb-2">
          <div class="form-outline">
            <h5>Stauraum (in Litern):</h5>
            <input type="text" [(ngModel)]="space"  class="textInputs form-control">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="mb-2">
          <div class="form-outline">
            <h5>Sitzplätze (ohne Fahrer):</h5>
            <input type="text" [(ngModel)]="seats"  class="textInputs form-control">
          </div>
        </div>
      </div>
      <br>
      <div class="text-center">
      <button type="submit" class="btn text-white shadow orange btn-block mt-2 mb-2" (click)="addVehicle()">Speichern</button>
        </div>
    </div>
  </div>
</div>

<br>
<h4 class="text-center">Meine Fahrzeuge</h4>
<br>
<div class="mb-5 mb-lg-0 position-relative card-group">
  <div *ngFor="let vehicle of vehicleArray; let i = index;">
    <div class="card bg-glass">
      <div class="card-body mt-3 px-4 py-5 px-md-5">
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <h3>Modell:</h3>
              <p>{{vehicleArray[i][1]}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2">
            <div class="form-outline">
              <h3>Stauraum (in Litern):</h3>
              <p>{{vehicleArray[i][2]}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" mb-3">
            <div class="form-outline">
              <h3>Sitzplätze (ohne Fahrer):</h3>
              <p>{{vehicleArray[i][3]}}</p>
            </div>
          </div>
        </div>
        <br>
        <div class="text-center">
        <button type="submit" class="btn text-white shadow orange btn-block mt-2 mb-2" (click)="deleteVehicle(vehicleArray[i][0])">Fahrzeug entfernen</button>
          </div>
      </div>
    </div>
  </div>
</div>
