<div class="container-fluid">
  <div class="container-fluid">
    <div class="container-fluid" *ngIf="showLogin">
      <div class="alert alert-danger" role="alert" *ngIf="invalid_login">
        Login nicht erfolgreich! Bitte versuche es erneut oder registriere dich.
      </div>
      <div class="col-12 text-center">
        <h2>Login:</h2><br>
        <form  id="loginForm">
          <input placeholder="E-Mail" type="text" id="loginEmail" [(ngModel)]="loginEmail"
                 class="form-control "><br>
          <input placeholder="Passwort" type="password" id="loginPassword" [(ngModel)]="loginPassword"
                 class="form-control">
          <button type="submit" (click)="logIn()" class="btn align-content-center text-center mt-4 mb-4">Anmelden</button>
        </form>
        <h3 class="btn align-content-center" (click)="showLogin = false">Noch keinen Account?</h3>
        <br>
        <br>
        <br>
      </div>
    </div>


    <div class="container-fluid" *ngIf="!showLogin">
      <div class="alert alert-danger" role="alert" *ngIf="invalid_register">
        Registrierung nicht erfolgreich! Bitte versuche es erneut mit anderen Daten!
      </div>
      <div class="col-12 text-center">
        <h2>Konto anlegen:</h2><br>
        <form id="registerForm">
          <input placeholder="Vorname" type="text" id="registerFirstname" [(ngModel)]="firstname"
                 class="form-control"><br>
          <input placeholder="Nachname" type="text" id="registerLastname" [(ngModel)]="lastname"
                 class="form-control"><br>
          <input placeholder="E-Mail" type="text" id="registerEmail" [(ngModel)]="email"
                 class="form-control"><br>
          <input placeholder="Passwort" type="password" id="registerPassword" [(ngModel)]="password"
                 class="form-control"><br>
          <textarea placeholder="Hier kannst du dich in wenigen Worten selbst beschreiben." type="text"
                    id="registerDescription" [(ngModel)]="description" class="textInputs form-control"></textarea>
          <button type="submit" (click)="registerUser()"
                  class="btn align-content-center text-center btn-block mt-4 mb-4">Registrieren
          </button>
        </form>
        <h3 class="btn align-content-center" (click)="showLogin = true">Bereits registriert?</h3>
      </div>
    </div>
  </div>
</div>


